<header>
  <mat-toolbar color="primary">
    <span>KartvizitApp!</span>
    <span class="example-spacer"></span>
<ul class="header-menu">
    <li>
        <a class="anasayfa"  routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Anasayfa </a>
    </li>
    <li>
        <a class="hakkında" routerLink="/" routerLinkActive="active">Hakkında </a>
    </li>
    <li>
        <a class="kartvizit"  routerLink="/" routerLinkActive="active">Kartvizitler </a>
    </li>
</ul>
  </mat-toolbar>
</header>
